@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body,h4,h5,h6,p,li,a {font-family: 'Open Sans' !important}
h1,h2,h3 {font-family:'Open Sans' !important; font-weight: 400 !important;}



.cullabs-logo {
	width:75%;
	float:left;
}

.nav-cullabs ul {
	width:25%;
	list-style: none;
	float:right;
}

.nav-cullabs ul li {
	float:left;
	font-size: 12px;
	display:inline-block;
}

.cullabs-header {
	border-bottom: 1px solid #ebebe7;
}

.view-nodequeue-1 .views-row {
	display: block;
	border-bottom:3px solid #ebebe7;
	clear:both;
}

.view-nodequeue-1 .views-row img {
	margin-bottom:10px;
}

.hero {background: url("/sites/default/files/RMC2011_0529.png") no-repeat 50% 50%;
background-size: cover;
background-color: transparent;}
